<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <servlet>
  	<display-name>JAX-RS REST Servlet</display-name>
  	<servlet-name>JAX-RS REST Servlet</servlet-name>
  	<servlet-class>
  		com.sun.jersey.spi.container.servlet.ServletContainer
  	</servlet-class>
  	<init-param>
  		<param-name>com.sun.jersey.config.property.packages</param-name>
  		<param-value>com.mobisols.tollpayments.serviceImpl</param-value>
  	</init-param>
  	<init-param>
  		<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
  		<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
  	</init-param>
  	<init-param>
		<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
		<param-value>com.sun.jersey.api.container.filter.RolesAllowedResourceFilterFactory</param-value>
	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JAX-RS REST Servlet</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
	<session-config>
		<session-timeout>
		30
		</session-timeout>
	</session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  	<security-constraint>
        <web-resource-collection>
                <web-resource-name>Services</web-resource-name>
                <description> accessible by authenticated users of the client role</description>
                <url-pattern>/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
                <http-method>PUT</http-method>
                <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
                <description>These roles are allowed access</description>
                <role-name>client</role-name>
                <role-name>user</role-name>
        </auth-constraint>
	</security-constraint>
	<login-config>
      	 <auth-method>BASIC</auth-method>
  		 <realm-name>My Club Members-only Area</realm-name>
	</login-config>

	<security-role>
        <role-name>client</role-name>
	</security-role>
	<security-role>
        <role-name>user</role-name>
	</security-role>
</web-app>
