<?xml version="1.0"?>
<!DOCTYPE beans
  PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd"
>

<beans>
   <!--   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="tolls">
            <list>
                <value>/properties/toll.properties</value>
            </list>
        </property>
    </bean> -->     
    
  	<bean id="service.tollpayments.vehicleTypeListService" class="com.mobisols.tollpayments.serviceImpl.VehicleTypeListServiceImpl">
    	<property name="vehicleTypeListResponse" ref="response.tollpayments.getVehicleTypeListResponse"></property> 
    	<property name="vehicleTypeDao" ref="dao.tollpayments.vehicleTypeDao"></property>
    </bean>
    <bean id="response.tollpayments.getVehicleTypeListResponse" class="com.mobisols.tollpayments.response.get.VehicleTypeListServiceImpl">
    </bean>
</beans>
  