<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="UserBalanceLogAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserBalanceLogAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserVehicleHistoryAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserVehicleHistoryAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollPriceHistoryAllDAO"
		class="com.mobisols.tollpayments.hibernate.TollPriceHistoryAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollLocationAllDAO"
		class="com.mobisols.tollpayments.hibernate.TollLocationAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserVehicleAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserVehicleAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OwnerTypeAllDAO"
		class="com.mobisols.tollpayments.hibernate.OwnerTypeAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClientAllDAO"
		class="com.mobisols.tollpayments.hibernate.ClientAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserTypeAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserTypeAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserPaymentDetailHistoryAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserPaymentDetailHistoryAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CcTypeAllDAO"
		class="com.mobisols.tollpayments.hibernate.CcTypeAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VehicleMovementLogAllDAO"
		class="com.mobisols.tollpayments.hibernate.VehicleMovementLogAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VmlTypeAllDAO"
		class="com.mobisols.tollpayments.hibernate.VmlTypeAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserBalanceAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserBalanceAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ComponentVersionAllDAO"
		class="com.mobisols.tollpayments.hibernate.ComponentVersionAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ServicePlanAllDAO"
		class="com.mobisols.tollpayments.hibernate.ServicePlanAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VehicleTypeAllDAO"
		class="com.mobisols.tollpayments.hibernate.VehicleTypeAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserServiceAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserServiceAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollOperatorAllDAO"
		class="com.mobisols.tollpayments.hibernate.TollOperatorAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PaymentTransactionAllDAO"
		class="com.mobisols.tollpayments.hibernate.PaymentTransactionAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ConfigurationAllDAO"
		class="com.mobisols.tollpayments.hibernate.ConfigurationAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollPriceAllDAO"
		class="com.mobisols.tollpayments.hibernate.TollPriceAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserPaymentDetailAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserPaymentDetailAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ComponentAllDAO"
		class="com.mobisols.tollpayments.hibernate.ComponentAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VehicleTollUsageAllDAO"
		class="com.mobisols.tollpayments.hibernate.VehicleTollUsageAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VmlTypeDAO"
		class="com.mobisols.tollpayments.hibernate.VmlTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ComponentVersionDAO"
		class="com.mobisols.tollpayments.hibernate.ComponentVersionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollLocationDAO"
		class="com.mobisols.tollpayments.hibernate.TollLocationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ConfigurationDAO"
		class="com.mobisols.tollpayments.hibernate.ConfigurationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserPaymentDetailHistoryDAO"
		class="com.mobisols.tollpayments.hibernate.UserPaymentDetailHistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VehicleTollUsageDAO"
		class="com.mobisols.tollpayments.hibernate.VehicleTollUsageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserBalanceLogDAO"
		class="com.mobisols.tollpayments.hibernate.UserBalanceLogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserServiceDAO"
		class="com.mobisols.tollpayments.hibernate.UserServiceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserPaymentDetailDAO"
		class="com.mobisols.tollpayments.hibernate.UserPaymentDetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VehicleMovementLogDAO"
		class="com.mobisols.tollpayments.hibernate.VehicleMovementLogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserBalanceDAO"
		class="com.mobisols.tollpayments.hibernate.UserBalanceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollLocationHistoryDAO"
		class="com.mobisols.tollpayments.hibernate.TollLocationHistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserVehicleDAO"
		class="com.mobisols.tollpayments.hibernate.UserVehicleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VehicleTypeDAO"
		class="com.mobisols.tollpayments.hibernate.VehicleTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ComponentDAO"
		class="com.mobisols.tollpayments.hibernate.ComponentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CcTypeDAO"
		class="com.mobisols.tollpayments.hibernate.CcTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollPriceDAO"
		class="com.mobisols.tollpayments.hibernate.TollPriceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserHistoryDAO"
		class="com.mobisols.tollpayments.hibernate.UserHistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OwnerTypeDAO"
		class="com.mobisols.tollpayments.hibernate.OwnerTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ServicePlanDAO"
		class="com.mobisols.tollpayments.hibernate.ServicePlanDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserTypeDAO"
		class="com.mobisols.tollpayments.hibernate.UserTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollOperatorDAO"
		class="com.mobisols.tollpayments.hibernate.TollOperatorDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollPriceHistoryDAO"
		class="com.mobisols.tollpayments.hibernate.TollPriceHistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClientDAO"
		class="com.mobisols.tollpayments.hibernate.ClientDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserVehicleHistoryDAO"
		class="com.mobisols.tollpayments.hibernate.UserVehicleHistoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PaymentTransactionDAO"
		class="com.mobisols.tollpayments.hibernate.PaymentTransactionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserHistoryAllDAO"
		class="com.mobisols.tollpayments.hibernate.UserHistoryAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UdfDataAllDAO"
		class="com.mobisols.tollpayments.hibernate.UdfDataAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UdfDefinitionAllDAO"
		class="com.mobisols.tollpayments.hibernate.UdfDefinitionAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TollLocationHistoryAllDAO"
		class="com.mobisols.tollpayments.hibernate.TollLocationHistoryAllDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserDAO"
		class="com.mobisols.tollpayments.hibernate.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>